#Python Basics

Python consist of

> Data Types
*   Numbers
*   Strings
*   Printing
*   Booleans
*   List
*   Dictonaries
*   Tuples
*   Sets

> Operators
*   Arithmetic operators
*   Assignment operators
*   Comparison operators
*   Logical operators

> Conditions
*   if Statement
*   elif Statement
*   else Statement

> Loops
*   for Loop
*   while Loop

## Data Types

```
Text Type      :	str
Numeric Types  :	int, float, complex
Sequence Types :	list, tuple, range
Mapping Type   :	dict
Set Types      :	set
Boolean Type   :	bool
Binary Types   :	bytes
```

#### Numbers

In [ ]:
1 + 1 #we can Add numbers

2

In [ ]:
55-24 # we can Substract numbers

31

In [ ]:
1 * 5 # we can Multiply numbers

5

In [ ]:
25445 /25 # we can Divide numbers

1017.8

In [ ]:
127%7 # we can find Mod of numbers

1

In [ ]:
8 ** 4 # we can find power of numbers

4096

In [ ]:
(2*5)*(8*3) # we can do complex solution

240

#### Strings

Variable Assigning:

In [ ]:
# The values can be store in a name called Variable, by this when ever we want to use this value then we can call it by the variable name.

x = 2
y = 6
a = 58
b = 24

In [ ]:
z = x ** y
print(z)

64

In [ ]:
c = a - b
print(c)

34

In [ ]:
'Single quotes'

'Single quotes'

In [ ]:
"Double quotes"

'Double quotes'

In [ ]:
# Variables are not only used to store numbers it can store any data type

x = "Hello"
y = 35.44
z = 25

Print function

In [ ]:
print(x)

Hello

In [ ]:
# by this approch in the code we only need to change data in variable so the main code will change it self 
name = "Rob"
age = 25
email = "abc@xyz.com"
mobile = 999999999

In [ ]:
print('Hi my name is {}, and my age is {}, my email id is {}, and mobile number is {}'.format(name, age, email, mobile))

Hi my name is Rob, and my age is 25, my email id is abc@xyz.com, and mobile number is 999999999

Boolens represent one of two values: True or False.

#### List

*   Lists are used to store multiple items in a single variable.
*   Lists are created using square brackets

In [ ]:
li = ['Red', 'Orange', 'White', 'Black', 'Green', 'Blue', 'Grey', 'Yellow']

In [ ]:
print(li)

['Red', 'Orange', 'White', 'Black', 'Green', 'Blue', 'Grey', 'Yellow']

In [ ]:
# len() function is used to find the count of items available in list
print(len(li))

8

In [ ]:
# List can store any data tye in it
li1 = ["Car", 18, True, 24.43, "Dell"]
print(li1)

['Car', 18, True, 24.43, 'Dell']

In [ ]:
# type() function is used to find the data type of variable
print(type(li))

<class 'list'>


![image.png]()

In [ ]:
# in list we can fetch items in list by its index value, most of the programming langauges have index starts from 0
print(li[0])
print(li[1])
print(li[2])
print(li[3])

Red
Orange
White
Black

In [ ]:
# for print list values in series from 3rd index till end

print(li[3:])

['Black', 'Green', 'Blue', 'Grey', 'Yellow']

In [ ]:
# for print list values in series till 3rd index from begining

print(li[:3])

['Red', 'Orange', 'White']

In [ ]:
# for print list values in series between two indexes

print(li[2:5])

['White', 'Black', 'Green']

In [ ]:
# to print last value from the list negative numbers is used
print(li[-1])

Yellow

In [ ]:
print(li[-3:-1])

['Blue', 'Grey']

In [ ]:
# we can update list by the index number

print("List items before update: \n", li)
li[1] = 'Car'
print("List items after update: \n", li) # Orange is updated to Car

List items before update:
 ['Red', 'Car', 'White', 'Black', 'Green', 'Blue', 'Grey', 'Yellow']
List items after update:
 ['Red', 'Car', 'White', 'Black', 'Green', 'Blue', 'Grey', 'Yellow']

In [ ]:
print(li)

['Red', 'Orange', 'White', 'Black', 'Green', 'Blue', 'Grey', 'Yellow']

In [ ]:
# we can add item in the list with index value by using insert() function

li2 = [5, 10, 15, 20, 25, 30]
print("Before inserted value: ", li2)
li2.insert(3, 'Happy') #in the 3rd index position item is add
print("After inserted value: ", li2)

Before inserted value:  [5, 10, 15, 20, 25, 30]
After inserted value:  [5, 10, 15, 'Happy', 20, 25, 30]

In [ ]:
# if we want to add item at the end append() method is used

li2.append("King")
print(li2)

[5, 10, 15, 'Happy', 20, 25, 30, 'King']

In [ ]:
# to join two lists we can use extend() method

li1.extend(li2)
print(li1)

['Car', 18, True, 24.43, 'Dell', 5, 10, 15, 'Happy', 20, 25, 30, 'King']

In [ ]:
# To remove by the name we use remove() method is used

li1.remove('Dell')
print(li1)

['Car', 18, True, 24.43, 5, 10, 15, 'Happy', 20, 25, 30, 'King']

In [ ]:
# To remove by index number we use pop() method is used, if nothing is mention then last item in the list will be deleted

li1.pop(2)
print(li1)

['Car', 18, 24.43, 5, 10, 15, 'Happy', 20, 25, 30, 'King']

In [ ]:
# To delete by index number we use del() keyword is used

del li1[-1]
print(li1)

['Car', 18, 24.43, 5, 10, 15, 'Happy', 20, 25, 30]

In [ ]:
# To clear Entire list clear() method is used

print('Before clear method is used: ',li2)
li2.clear()
print('Before clear method is used: ',li2)

Before clear method is used:  [5, 10, 15, 'Happy', 20, 25, 30, 'King']
Before clear method is used:  []

In [ ]:
# To sort the List we can use sort() function

l1 = [7,3,9,2,5,1,4,0,6]
print('Before sorting: ',l1)
l1.sort()
print('After sorting: ',l1)

Before sorting:  [7, 3, 9, 2, 5, 1, 4, 0, 6]
After sorting:  [0, 1, 2, 3, 4, 5, 6, 7, 9]

In [ ]:
# we can sort in reverse order

l1.sort(reverse = True)
print(l1)

[9, 7, 6, 5, 4, 3, 2, 1, 0]

#### Dictionaries

*   Dictionaries are used to store data values in key:value pairs.
*   A dictionary is a collection which is ordered, changeable and do not allow duplicates.
*   Ordered means that the items have a defined order, and that order will not change.
*   changeable means we can change, add or remove items after the dictionary has been created.

In [ ]:
d1 = {
    "Maths": 87,
    "Physics" : 76,
    "Chemistry": 82,
    "English" : 73,
    "Biology" : 64,
    "Computers" : 94,
    "Social" : 79
}

In [ ]:
print(d1["English"])

73

In [ ]:
# it throws error when ever we add multiple keys with same name

d2 = {
    "Car": "Nexon"
    #"Car": "Brio" #this throw error if you want to check remove coment and run
}

In [ ]:
# To find the length of the dictionary we can use len() function

print(len(d1))

7

In [ ]:
# To find the type of the dictionary we can use type() function

print(type(d1))

<class 'dict'>

In [ ]:
# we can fetch the data with key name

x = d1.get("Maths")
print(x)

87

In [ ]:
# we can get the keys by keys() method

print(d1.keys())

dict_keys(['Maths', 'Physics', 'Chemistry', 'English', 'Biology', 'Computers', 'Social'])

In [ ]:
# we can get the values by values() method

print(d1.values())

dict_values([87, 76, 82, 73, 64, 94, 79])

In [ ]:
# If we want to print both keys and values by using items() method

print(d1.items())

dict_items([('Maths', 87), ('Physics', 76), ('Chemistry', 82), ('English', 73), ('Biology', 64), ('Computers', 94), ('Social', 79)])

In [ ]:
# we can update the values by using update() method, if the key is not available in the dictionary then it will add the key and value to dictionary

d1.update({'Biology': 75})
d1.update({"Laptop":"Dell","Car":"Nexon"})
print(d1)

{'Maths': 87, 'Physics': 76, 'Chemistry': 82, 'English': 73, 'Biology': 75, 'Computers': 94, 'Social': 79, 'Laptop': 'Dell', 'Car': 'Nexon'}

In [ ]:
# we can remove the value by key name using pop() method

d1.pop('Laptop')
print(d1)

{'Maths': 87, 'Physics': 76, 'Chemistry': 82, 'English': 73, 'Biology': 75, 'Computers': 94, 'Social': 79, 'Car': 'Nexon'}

In [ ]:
# we can delete by del key word

del d1['Car']
print(d1)

{'Maths': 87, 'Physics': 76, 'Chemistry': 82, 'English': 73, 'Biology': 75, 'Computers': 94, 'Social': 79}

In [ ]:
# to clear the dictionary clear() method is used

d2.clear()
print(d2)

{}

#### Tuples

*   Tuples are used to store multiple items in a single variable.
*   A tuple is a collection which is ordered and unchangeable.
*   Tuples are written with round brackets.

In [ ]:
t1 = ('India', 'USA', 'Canada', 'Japan', 'France', 'Dubai', 'Africa', 'Germany', 'Korea', 'Singapore')
print(type(t1)) # to find the type

<class 'tuple'>

In [ ]:
print(len(t1)) # to fing the length

10

In [ ]:
print(t1[3]) # we can print by using index value

Japan

In [ ]:
''' As tupils are immutable we cannot add in tuples remove the comments and run if you want to see
x = ('China', 'Pakistan')
t1.append(x)
print(t1)
'''

" As tupils are immutable we cannot add in tuples remove the comments anr run if you want to see\nx = ('China', 'Pakistan')\nt1.append(x)\nprint(t1)\n"

In [ ]:
print(t1.count("India")) # To count how many times an item is getting repete

1

In [ ]:
print(t1.index("Dubai")) # To get the index value of the item

5

#### Sets

*   Sets are used to store multiple items in a single variable.
*   Sets are written with curly brackets.
*   A set is a collection which is unordered, unchangeable, and unindexed.

In [ ]:
 s1 = {'Lion', 'Panda', 'Fox', 'Tiger', 'Bear', 'Deer', 'Cheeta'}
 print(s1)

{'Cheeta', 'Tiger', 'Bear', 'Fox', 'Lion', 'Deer', 'Panda'}

In [ ]:
print(type(s1)) # To find the Type of the set

<class 'set'>

In [ ]:
# Sets remove all duplicate values

s2 = {5, 10, 5, 20, 40, 10, 60, 75, 25, 85}
print(s2) # in this 5 and 10 are repeting that values will be removed

{5, 40, 10, 75, 20, 85, 25, 60}

In [ ]:
print(len(s2)) # To find the length of the set

8

In [ ]:
# There is an alternative to create sets, but set will print in random manner
s3 = set(('Horse', 'Zebra', 'Elephant'))
print(s3)

{'Elephant', 'Horse', 'Zebra'}

In [ ]:
s3.add('Donkey') # To add the items in the set add() method is used
print(s3)

{'Elephant', 'Horse', 'Zebra', 'Donkey'}

In [ ]:
# we can add two sets bu using update() method

s1.update(s3)
print(s1)

{'Cheeta', 'Tiger', 'Bear', 'Fox', 'Elephant', 'Horse', 'Lion', 'Deer', 'Panda', 'Zebra'}

In [ ]:
# To remove an item from we can use remove() or discard() method
# difference between remove() and discard() is, if we use remove('xyz') and 
# then xyz is not present in the set then it throws error where as discard() will ignore

s1.remove('Lion')
s1.discard('Fox')
print(s1)

{'Cheeta', 'Tiger', 'Bear', 'Elephant', 'Horse', 'Deer', 'Panda', 'Zebra'}

In [ ]:
# This throws error because Lion is not present in set, remove comment before s1.remove('Lion') to check
#s1.remove('Lion')
s1.discard('Fox')
print(s1)

{'Cheeta', 'Tiger', 'Bear', 'Elephant', 'Horse', 'Deer', 'Panda', 'Zebra'}

In [ ]:
print(s2.pop()) #remove random item from set

40

In [ ]:
s2.clear() # To clear set
print(s2)

set()

In [ ]:
del s2 #To delete a set

## Operators

Arithmetic operators

![image.png]()

Assignment Operators

![image.png]()

Comparison Operators

![image.png]()

Logical Operators

![image.png]()

## Conditions

In any programming langauge 'if' is a key word used to compaire mathematical operation and return boolean value

In [ ]:
# in this case hello will print only when a is greater than b condition is true
a = 20
b = 15
if (a>b):
  print("hello")

hello

In [ ]:
x = 'Ball'
y = 'Ball'
if (x == y):
  print("same")

same

The elif keyword, "if the previous conditions were not true, then try this condition".

In [ ]:
age = 65
if (age >= 50):
  print('age is more than 50, the age is {}'.format(age))
elif(age <= 30):
  print('age is less than 30, the age is {}'.format(age))
elif(age >= 30):
  print('age is between 30 and 50, the age is {}'.format(age))

age is more than 50, the age is 65

In [ ]:
# Suppose a club is allowing members whose age is between 18 to 45
age = 18
if (age < 18):
  print('Not Eligible')
elif (age > 45):
  print('Not Eligible')
else:
  print('Eligible')

Eligible

In [ ]:
# This can be write in One line if statement
if (a>b): print("hello")
print("A") if a > b else print("B")

hello
A

we can use combinations of logical operators in if else statements

In [ ]:
age = 13
if (age>=18 and age<=45):
  print('Eligible')
else:
  print('Not Eligible')

Not Eligible

## Loops